* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    padding-left: 13px;
    margin: 0 3%  0 13%;
}

h1 {
    font-size: 36px;
    color: red;
    margin: 0px 0px 0px 41%;
    padding: 18px 0px 0px 0px;
}

h2{
    font-size: 24px;
    color: gray;
    padding: 26px 0px 0px 0px;
}

.navbar {
    width: 100%;
    height: 30px;
    background-color: rgb(234 39 39);
    font-weight: bold;
    font-size: 16px;
}

.lista {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 4px 64px 0px 0px;
}

.item-nosotros{
    margin: 0px 33px 0px 33px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-size: 18px;
    color: black;
    font-weight: bold;
}